<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet"  th:href="@{/css/bootstrap.css}"/>
		<link rel="stylesheet" th:href="@{/css/daohang.css}" />
		<link rel="stylesheet" th:href="@{/css/style.css}" />
		<link rel="stylesheet" th:href="@{/css/footer&cbl.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-1.11.3.js}" ></script>
		<script type="text/javascript" th:src="@{js/bootstrap.js}" ></script>
    	<script type="text/javascript" th:src="@{/js/index.js}"></script>
		<script type="text/javascript" th:src="@{/js/templet.js}" ></script>
		<script type="text/javascript" th:src="@{/js/hp.js}" ></script>
		<title></title>
	</head>
	<body>
	<div id="main">
		<header id="header" data-spy="affix" data-offset-top="70">
			<nav class="navbar-inverse" id="daohang">
				<div class="daohang">
					<div class="navbar-header clearfix">
						<button type="button" class="zd" id="zd" >
							<span class="glyphicon glyphicon-align-justify"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="daohangtiao">
						<ul class="nav navbar-nav">
							<li><a th:href="@{/index}">首页</a></li>
							<li><a th:href="@{/login}">登录</a></li>
							<li><a th:href="@{/register}">注册</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<div class="c">
			    <img class="img" th:src="@{/img/child.jpg}"/>
				<div class="video">
					<video autoplay="autoplay" muted="muted" loop="loop">
						<source type="video/webm" th:src="@{/video/video1.webm}"></source>
						<source type="video/mp4" th:src="@{/video/video1.mp4}"></source>
					</video>
				</div>
				<div class="cover">
					<div class="container cc1">
						<div class="cover1 col-lg-6 col-md-6 pull-right" >
							<div class="co1 hide" id="con">
								<span>做一个快速响应网站<br>让软件成本计算更简单</span>
							</div>
							<div class="co1" id="show"></div>
							<div class="co2" >
								<p>高速准确计算</p>
 								<p>企业级计算 引领软件行业发展</p>
							</div>
							<a class="co3" th:href="@{/register}">免 费 创 建 账 户</a>
						</div>
					</div>
				</div>
			</div>
		<div class="main">
			<div class="c2">
				<div class="content" style="overflow: hidden;margin: 0 auto;max-width: 2500px;" >
<div class="w1 col-lg-5 col-md-5 col-sm-12 col-xs-12 pull-left clearfix" id="c3-1">
				 		<div style="width: 80%;margin: 0 auto;">
				 			<h1 class="hh1" style="font-size: 34px;color:#3ea3ff ;padding-bottom: 20px;">真正的快速准确计算，自用于所有类型软件</h1>
							<p class="p1" style="font-size: 15px;line-height: 30px;">不同于其它软件成本计算系统，您只需对软件资料进行一次性输入，网站即可根据访问者的输入数据准确地呈现出计算结果，全程无需人工干预。</p>
				 		</div>
				  	</div>
				 	<div class="w1 col-lg-5 col-md-5 col-sm-12 col-xs-12 pull-left clearfix" id="c2-2">
				 		<div style="width: 80%;margin: 0 auto;">
				 			<h1 class="hh1" style="font-size: 34px;padding-bottom: 10px;">基于SpringBoot，一个便捷的开发框架</h1>
							<p class="p1" style="font-size: 15px;line-height: 30px;">根据重庆市信息化项目软件开发费用测算指南V4.0以及众多参考文献。SCE软件开发成本计算系统，将传统的软件成本计算工作转化为简单的计算机操作。在这里，您仅需花上5分钟便可以完成一个软件项目的成本估算，为各类企业项目提供支持。</p>
				 		</div>
				  	</div>
				</div>
			</div>
			</div>
	</div>
	</body>

</html>
